@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using LIAuppgift.Business.References

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Shady Webshop </title>
    <link rel="shortcut icon" type="image/ico" href="~/Static/gfx/anonymous2.png" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    @* Global Header *@ 
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.ContentUrl(ContentReference.StartPage)">Shady Webshop</a>
                <div class="navbar-icon">
                    <a class="navbar-icon-basket" href="@Url.ContentUrl(StartPageReferences.CartReference())"><img src="~/Static/gfx/basket.png" class="basketico" /></a>
                    <a class="navbar-icon-account" href="@Url.ContentUrl(StartPageReferences.LoginReference())"><img src="~/Static/gfx/account.png" class="accountico" /></a>
                </div>                
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

        @* Global Footer *@
        <footer>
            <div>
                <p>&copy; @DateTime.Now.Year - Shady Webshop by Philip Krook</p>
            </div>
                <div>
                    <a class="footer-contact" href="~/en/contact-us">Contact us</a>
                    <a class="footer-about" href="~/en/about-us">About us</a>
                </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>