@using EPiServer.Web.Mvc.Html

@model LIAuppgift.Models.ViewModels.ProductPageViewModel

<div class="">
    <div class="">
        <h1>@Html.PropertyFor(m => Model.CurrentPage.Heading)</h1>
    </div>
    <div class="">
        <div @Html.EditAttributes(x => Model.CurrentPage.ProductImage)>
            <img class="e" src="@Url.ContentUrl(Model.CurrentPage.ProductImage)" />
        </div>
        <div class="">
            Price:  @Model.ConvertedPrice BTC
            <form method="post" action="@Url.ContentUrl(Model.CurrentPage.ContentLink)">
                <input type="hidden" value="@Model.CurrentPage.ContentLink.ID" name="productId" />
                <button type="submit" Class="">Buy</button>
            </form>
        </div>
    </div>
</div>
<div class="">
    <strong>Product description</strong>
    <p>@Html.PropertyFor(m => Model.CurrentPage.MainBody)</p>
</div>


