@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using LIAuppgift.Business.Api

@model LIAuppgift.Models.Pages.ProductPage

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="product-overview">
        <div class="product-id">
            <h1>@Html.PropertyFor(m => Model.Heading)</h1>
            <p>Article number: @Html.PropertyFor(m => Model.ArticleNumber)</p>
        </div>
        <div class="product-column">
            <div @Html.EditAttributes(x => Model.ProductImage)>
                <img class="product-image" src="@Url.ContentUrl(Model.ProductImage)" />
            </div>
            <div class="product-price">
                Price: (USD)  @Html.PropertyFor(m => Model.ProductPrice)
                <form method="post" action="@Url.ContentUrl(Model.ContentLink)">
                    <input type="hidden" value="@Model.ContentLink.ID" name="productId" />
                    <button type="submit" Class="button-buy">Buy</button>
                </form>
            </div>
        </div>
    </div>
    <div class="product-info">
        <strong>Product description</strong>
        <p>@Html.PropertyFor(m => Model.MainBody)</p>
    </div>

</body>
</html>